doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello, world!
    body 
        h1 Hello, world!
        .remark 
            p Pug rocks!

        h1.navbar-header My Website! We can write anything we want here …

        p
            | You are logged in as
            | user@example.com

        p. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sed dolorum magnam quos minus porro quis, tenetur commodi sunt iusto repellat nemo rem recusandae, distinctio ducimus cum, voluptate eligendi. Necessitatibus similique aspernatur omnis! Saepe, rerum ab.
        
        // this a single line comment
        
        //
            My wonderful navbar
            this is a multi-line comment
        nav#div.navbar-default
            div.container-fluid
                h1.navbar-header My Website!
            ul
                li
                    a(href="/") Home
                li
                    a(href="/page-1") Page 1
                li
                    a(href="/page-2") Page 2

            input.search(
                type="text"
                name="search"
                placeholder="Enter a search term..."
            )
        - const name = "jim"

        p= "Two to the power of ten is: " + 2**10

        p= '<script>alert("Hi")</script>'

        p Hi, #{name}

        //Upcase first letter

        p Hi, #{name.charAt(0).toUpperCase() + name.slice(1)}

        - const employees = ["Angela", "Jim", "Nilson", "Simone"]

        ul
            each employee in employees
                li= employee 


        -
            const employee = {
                "First Name" : "James",
                "Last Name" : "Hibbard"
            }
        ul
            each value, key in employee
                li= `${key}: ${value}`

        - const moreEmployees = []
        ul
            each employee in moreEmployees
                li= employee
            else 
                li The company doesn't have any employees. Maybe hire some?

        // you can use 'for' as an alias for 'each'

        -
            const anotherEmployee = {
                firstName: "James",
                lastName: "Hibbard",
                extn: "12345"
            }
        
        #anotherEmployee
            p= `${anotherEmployee.firstName} ${anotherEmployee.lastName}`
            p Extension: 
                if anotherEmployee.extn
                    =anotherEmployee.extn
                else
                    | n/a